[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "*"
django-environ = "*"
django-taggit = "*"
django-analytical = "*"
django-mathfilters = "*"
django-location-field = "*"
django-static-precompiler = {extras = ["libsass"], version = "*"}
django = "~=2.2"
django-redis-cache = "*"
nox = "*"
flake8 = "*"
geopy = "*"
django-debug-toolbar = "*"
django-pwa = "*"
pillow = "*"
django-taggit-labels = "*"
django-colorfield = "*"
django-faicon = "*"

[requires]
python_version = "3.8"
