{% extends 'sportaj/base.html' %}
{% load mathfilters %}
{% block title %}{{ klub.ime }}{% endblock title %}
{% block head %}
    <style>
        @media (min-width: 1500px) {
            .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
                max-width: 1425px;
            }
        }

        .center-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .card-header.header-image {
            padding: 0;
            margin: 0;
        }

        .row.pad-top {
            padding-top: 2%;
        }

        div .image-count {
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding: 1%;
            color: white;
            background: rgb(52, 47, 47);
            background: rgba(52, 47, 47, 0.7);
        }

        section.profile-entries {
            padding: 1.5%;
        }

        a.profile-link-icon {
            margin: 1%;
            padding-left: 1%;
            padding-right: 1%;
        }
    </style>
{% endblock head %}
{% block main %}
    <div class="row pad-top">
        <div class="col col-md-4">
            <div class="card">
                <div class="card-header">
                    <img class="rounded-circle img-fluid center-block"
                         src="{{ klub.logo }}">
                </div>
                <div class="card-body">
                    <section class="d-flex justify-content-center profile-entries">
                        <i class="fas fa-map-pin fa-lg"></i>&nbsp;&nbsp;&nbsp;{{ klub.location }}
                    </section>
                    <section class="d-flex justify-content-center profile-entries">
                        {% if klub.homepage != None %}
                             <button class="btn btn-dribbble btn-icon-only rounded-circle"
                                    onclick="window.open('{{ klub.homepage }}', '_blank')">
                                <span class="btn-inner--icon">
                                    <i class="fab fa-globe"></i>
                                </span>
                            </button>
                        {% endif %}
                        {% if klub.email != None %}
                            <button class="btn btn-twitter btn-icon-only rounded-circle"
                                    onclick="window.open('mailto:{{ klub.email }}', '_blank')">
                                <span class="btn-inner--icon">
                                    <i class="fab fa-paper-plane"></i>
                                </span>
                            </button>
                        {% endif %}
                        {% if klub.facebook != None %}
                            <button class="btn btn-facebook btn-icon-only rounded-circle"
                                    onclick="window.open('{{ klub.facebook }}', '_blank')">
                                <span class="btn-inner--icon">
                                    <i class="fab fa-facebook"></i>
                                </span>
                            </button>
                        {% endif %}
                        {% if klub.twitter != None %}
                            <button class="btn btn-twitter btn-icon-only rounded-circle"
                                    onclick="window.open('{{ klub.twitter }}', '_blank')">
                                <span class="btn-inner--icon">
                                    <i class="fab fa-twitter"></i>
                                </span>
                            </button>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
        <div class="col col-md-8">
            <div class="card border border-dark">
                <div class="card-header border border-dark header-image">
                    <div style="position: relative">
                        <img class="img-fluid" src="{{ klub.header_images.0 }}">
                        {% with klub.header_images|length|sub:1 as image_count %}
                            {% if image_count > 0 %}
                                <div class="image-count">
                                    še {{ image_count }}
                                    {% if image_count == 1 %} slika
                                    {% elif image_count == 2 %} sliki
                                    {% elif image_count == 3 or image_count == 4 %} slike
                                    {% else %} slik
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-start">
                        <div class="col d-flex justify-content-center">
                            <h1 class="display-4">{{ klub.ime }}</h1>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <div>
                                Panoge
                            </div>
                            <div>
                                Vadba
                            </div>
                            <div>
                                Starosti
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-end pad-top">
                        <div class="col">
                            <p>{{ klub.opis }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
