{% extends 'sportaj/base.html' %}

{% block styling %}
    <style type="text/css">
        #gMap {
            height: 100%;
        }
    </style>
{% endblock styling %}
{% block scripts %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_SEARCH_MAPS_API_KEY }}&callback=initGMap&language=sl&region=SI">
    </script>
    <script>
        let gMap;

        function initGMap() {
            const [lat, lng] = '{{ DEFAULT_LATLONG }}'.split(',').map(Number);
            gMap = new google.maps.Map(document.getElementById('gMap'), {
                center: {lat, lng},
                zoom: 8,
            });

            const infowindow = new google.maps.InfoWindow();

            function createPin(title, position) {
                const marker = new google.maps.Marker({
                    position,
                    map: gMap,
                    title
                });

                marker.addListener("click", () => {
                    infowindow.setContent(title);
                    infowindow.open(map, marker);
                });
            }

            {% for pin in mapa %}createPin('{{ pin.ime }}', {lat: Number('{{ pin.latlong.0 }}'), lng: Number('{{ pin.latlong.1 }}')});{% endfor %}
        }
    </script>
{% endblock scripts %}

{% block main_class %}main-content{% endblock main_class %}
{% block main %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="container-body">
                <div class="row align-items-center py-4">
                    <div class="col">
                        <h6 class="h2 text-white">Zemljevid Klubov</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div id="gMap" class="map-canvas" style="height:600px; position: relative; overflow: hidden;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}