{% extends 'sportaj/base.html' %}
{% load latlongToHuman %}

{% block title %}Zemljevid Klubov - Sportaj.ga{% endblock title %}
{% block og_title %}Zemljevid Klubov - Sportaj.ga{% endblock og_title %}

{% block styling %}
    <style type="text/css">
        #gMap {
            height: 100%;
        }
    </style>
{% endblock styling %}
{% block scripts %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_SEARCH_MAPS_API_KEY }}&callback=initGMap&language=sl&region=SI">
    </script>
    <script>
        let gMap;

        function initGMap() {
            gMap = new google.maps.Map(document.getElementById('gMap'), {
                center: {lat: Number('{{ DEFAULT_LATLONG.0 }}'), lng: Number('{{ DEFAULT_LATLONG.1 }}')},
                zoom: 4,
            });

            const infowindow = new google.maps.InfoWindow();

            function createPin(title, position) {
                const marker = new google.maps.Marker({
                    position,
                    map: gMap,
                    title
                });

                marker.addListener("click", () => {
                    infowindow.setContent(title);
                    infowindow.open(map, marker);
                });
            }

            {% for pin in klubi %}
                createPin('{{ pin.ime }}', {
                    lat: Number('{{ pin.latlong.0 }}'),
                    lng: Number('{{ pin.latlong.1 }}')
                });
            {% endfor %}
        }
    </script>
{% endblock scripts %}

{% block main_class %}main-content{% endblock main_class %}
{% block main %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="container-body">
                <div class="row align-items-center py-4">
                    <div class="col">
                        <h6 class="h2 text-white">Zemljevid Klubov</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col col-md-4">
                <div>
                    <ul class="list-group list-group-flush">
                        {% for klub in klubi %}
                            <li class="list-group-item disabled">
                                <!-- TODO: Fix broken link (well you can't even click it)-->
                                <a href="https://sportaj.ga/klub/{{ klub.slug }}"
                                   target="_blank">
                                    <div class="media">
                                        <div class="pull-left" style="padding-right: 10px;">
                                            <img class="rounded-circle img-fluid"
                                                 src="{{ klub.logo.url }}" alt="Logotip kluba {{ klub.ime }}"
                                                 height="64"
                                                 width="64">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                {{ klub.ime }}
                                                <small>
                                                    {% if klub.location %}
                                                        {{ klub.location }}
                                                    {% else %}
                                                        {{ klub.latlong.0|add:","|add:klub.latlong.1|latlongHuman }}
                                                    {% endif %}
                                                </small>
                                            </h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <div id="gMap" class="map-canvas" style="height:600px; position: relative; overflow: hidden;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}